<nav class="navbar navbar-expand-lg friend-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Stock Manager</a>

        <div>
            <a href="/" class="nav-item-link">Dashboard</a>
            <a href="/product/add" class="btn btn-success btn-sm">Add Product</a>
        </div>
    </div>
</nav>